# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# QtCreator's project files
*.pro
*.pro.user

# It's library...
main.cpp

